{% extends 'management_app/layout.html' %}
{% block title %}Companies list{% endblock %}

{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'management_app/css/details.css' %}">
{% endblock %}

{% block content %}

    <div>
        <hr>
        <h1>Company name: {{ company.name }}</h1>

        <hr>
        <p>Managers:</p>
        {% if company.managers.all %}
        <ol>
            {% for manager in company.managers.all %}
            <li>{{ manager.name }} {{ manager.surname }}</li>
            {% endfor %}
        </ol>
        {% else %}
        <p><span class='not-found'>There are no managers in the company</span></p>
        {% endif %}

        <hr>
        <p>Jobs:</p>
        {% if company.jobs.all %}
        <div class='work-list-container'>
            {% for job in company.jobs.all %}
            <div class='work-list-item'>
                <p>{{ job.name }}</p>
                {% if job.workplaces.all %}
                <ol>
                    {% for workplace in job.workplaces.all %}
                    <li>
                        {% if workplace.employee %}
                        <span>
                            {{ workplace.employee.name }}
                            {{ workplace.employee.surname }}
                        </span>
                        {% else %}
                        <span style="color: rgb(62, 214, 31);">
                            Vacant place
                        </span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
                {% else %}
                <p class='not-found'>There are no work places at this company job</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class='not-found'>There are no jobs in the company</p>
        {% endif %}

    </div>

{% endblock %}



