{% extends 'layout.html' %}
{% load i18n %}
{% block title %}{% trans 'Employee details' %}{% endblock %}

{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'management_app/css/details.css' %}">
{% endblock %}

{% block content %}

<div>

    <hr>
    <h1> {% trans 'Employee name' %}: {{ employee.name }}</h1>
    <hr>
    <p>{% trans 'Workplaces' %}:</p>
    <div class="work-list-container">

        {% for workplace in employee.workplaces.all %}
        <div class="work-list-item">
            
            <p>{{ workplace.job.name }} in {{ workplace.job.company.name }}</p>
            {% if workplace.get_status_display == 'Approved' %}
            <a href="{% url 'worktime_create' workplace.id %}?next={{ request.path }}">{% trans 'Create worktime' %}</a>
            {% else %}
            <p class='not-found'>{% trans 'Finished' %}</p>
            {% endif %}

            {% for wtime in workplace.worktimes.all|slice:':7' %}
            <div class="border border-info mb-2">
                <p>{% trans 'Date' %}: {{ wtime.date }}</p>
                <p>{% trans 'Hours worked' %}: {{ wtime.hours_worked }}</p>
            </div>
            {% endfor %}
        </div>
        {% empty %}
        <p class='not-found'>{% trans 'There are no workplaces' %}</p>
        {% endfor %}

    </div>

</div>

{% endblock %}