{% extends 'management_app/layout.html' %}
{% block title %}Companies list{% endblock %}

{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'management_app/css/details.css' %}">
{% endblock %}

{% block content %}

    <div>
        <hr>
        <h1> Employee name: {{ employee.name }} {{ employee.surname }}</h1>
        <hr>
        <p>Workplaces:</p>
        <div class="work-list-container">

            {% for workplace in workplaces %}
            <div class="work-list-item">
                <p>{{ workplace.job.name }} in {{ workplace.job.company.name }}</p>
                {% for wtime in workplace.worktimes.all %}
                <div class="border border-info mb-2">
                    <p>Start: {{ wtime.date_start|date:"d/m/Y H:i" }}</p>
                    <p>End: {{ wtime.date_end|date:"d/m/Y H:i" }}</p>
                </div>
                {% endfor %}
                <a href="{% url 'worktime_create' workplace.id %}?next={{ request.path }}">Create worktime</a>
            </div>
            {% empty %}
            <p class='not-found'>There are no workplaces</p>
            {% endfor %}

        </div>

    </div>

{% endblock %}



