{% extends 'layout.html' %}
{% block title %}Worktime create{% endblock %}

{% load static %}
{% block css_link %}

{% endblock %}

{% block content %}
<div class='form'>
    <h1>Create worktime for workplace</h1>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
        <a href="{{ next }}">Cancel</a>
    </form>
</div>

<script>
    $('#id_date').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'm/d/Y',
        onShow: function (ct) {
            this.setOptions({
                minDate: Date(),
                maxDate: Date()
            })
        }
    })
</script>
{% endblock %}