{% extends 'management_app/layout.html' %}
{% block title %}Employees list{% endblock %}

{% load static %}
{% block css_link %}

{% endblock %}

{% block content %}
<div class='form'>
    <h1>Create worktime for workplace</h1>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
        <a href="{{ next }}">Cancel</a>
    </form>
</div>

<script>
    $('#id_date_start').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'd/m/Y H:i',
        onShow: function (ct) {
            this.setOptions({
                maxDate: $('#id_date_end').val() ? $('#id_date_end').val() : false
            })
        }
    })
    $('#id_date_end').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'd/m/Y H:i',
        onShow: function (ct) {
            this.setOptions({
                minDate: $('#id_date_start').val() ? $('#id_date_start').val() : false
            })
        }
    })
</script>
{% endblock %}